https://github.com/Mahesh0253/pyrogram/archive/inline.zip
tgcrypto==1.2.2
pymongo[srv]==3.11.4
motor==2.4.0
marshmallow==3.12.2
umongo==3.0.0
telegraph==1.4.1
googletrans==3.1.0a0
gTTS
asyncio==3.4.3
aiohttp==3.7.4
aiofiles
requests
pyshorteners
bs4
imdbpy
youtube-search-python==1.4.6
youtube_search
youtube-dl
yt-dlp
wget
python-arq
ffmpeg-python
requests
ytthumb
pyrogram
